// #include "../../../corne.keymap"
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp F             &kp P      &kp G  &kp J  &kp L      &kp U          &kp Y    &kp APOS   &kp RIGHT_ALT
&kp TAB    &kp A  &kp R  &kp S             &kp T      &kp D  &kp H  &kp N      &kp E          &kp I    &kp O      &kp SEMI
&kp LSHFT  &kp Z  &kp X  &kp C             &kp V      &kp B  &kp K  &kp M      &kp COMMA      &kp DOT  &kp SLASH  &kp DELETE
                         &kp LEFT_CONTROL  &kp SPACE  &mo 1  &mo 2  &kp ENTER  &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&kp ESC    &kp LEFT_ALT  &kp N1        &kp NUMBER_2      &kp NUMBER_3  &kp PERCENT  &kp EQUAL  &kp HOME        &kp UP_ARROW    &kp END          &trans  &kp RIGHT_ALT
&kp TAB    &kp N0        &kp NUMBER_4  &kp N5            &kp NUMBER_6  &kp MINUS    &kp PLUS   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&kp LSHFT  &trans        &kp N7        &kp N8            &kp N9        &kp SLASH    &kp ASTRK  &kp BACKSLASH   &kp AT_SIGN     &kp UNDERSCORE   &trans  &kp DELETE
                                       &kp LEFT_CONTROL  &kp SPACE     &trans       &trans     &kp ENTER       &kp BACKSPACE
            >;
        };

        layer_2 {
            bindings = <
&kp ESC    &kp F1  &kp F2  &kp F3            &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp EXCLAMATION  &kp F10        &kp F11        &kp F12         &trans  &kp RIGHT_ALT
&kp TAB    &kp F4  &kp F5  &kp F6            &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOLLAR       &kp AMPERSAND  &kp PIPE       &kp CARET       &trans  &kp PRINTSCREEN
&kp LSHFT  &kp F7  &kp F8  &kp F9            &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp HASH         &kp PG_UP      &kp PAGE_DOWN  &kp UNDERSCORE  &trans  &kp DELETE
                           &kp LEFT_CONTROL  &kp SPACE             &trans                 &trans           &kp ENTER      &kp BACKSPACE
            >;
        };
    };
};
